In [2]:
# Dependencies & Setup
import pandas as pd

# File to Upload 
file_to_load = "Resources2/purchase_data.csv"

# Read Purchasing File & Store in Data Frame 
purchase_data = pd.read_csv(file_to_load)

In [3]:
# Player Count 

# Total Players (Using SN (Screen Name))
total_players = len(purchase_data["SN"].value_counts())

# Create Data Frame Using Total Players 
player_count = pd.DataFrame({"Total Players":[total_players]})
player_count

   Total Players
0            576

In [4]:
# Purchasing Analysis (Total)

# Unique Items, Average Price, Number of Purchases, Total Revenue 
total_unique_items = len((purchase_data["Item ID"]).unique())
average_price = (purchase_data["Price"]).mean()
total_purchases = (purchase_data["Purchase ID"]).count()
total_revenue = (purchase_data["Price"]).sum()

# Create Data Frame 
summary_df = pd.DataFrame ({"Number of Unique Items":[total_unique_items],
                            "Average Price":[average_price],
                            "Number of Purchase":[total_purchases],
                            "Total Revenue":[total_revenue]})
# Format
summary_df.style.format({"Average Price":"${:,.2f}",
                         "Total Revenue": '${:,.2f}'})

In [5]:
# Gender Demographics 

# Group By Gender 
gender_demo = purchase_data.groupby("Gender")

# Screen Names By Gender 
gender_total_count = gender_demo.nunique()["SN"]

# Percentage Count 
percentage_count = (gender_total_count) / (total_players) * 100

# Create Data Frame 
gender_counts = pd.DataFrame({"Percentage of Players": percentage_count, "Total Count": gender_total_count})

# Format
gender_counts.index.name = None
gender_counts.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}"})

In [6]:
# Purchasing Analysis (Gender)

# Count Purchases By Gender
gender_purchase_count = gender_demo["Purchase ID"].count()

# Average Total of each Gender Purchase 
average_purchase_total = gender_demo["Price"].sum()

# Average Price of each Gender Purchase 
average_purchase_price = gender_demo["Price"].mean()

# Average Purchase of Each Person Equation 
average_purchase_per_person = average_purchase_total/gender_total_count

#Create Data Frame
gender_counts = pd.DataFrame({"Purchase Count": gender_purchase_count,
                              "Average Purchase Price": average_purchase_total,
                              "Total Purchase Value": average_purchase_price,
                              "Average Total Purchase Per Person": average_purchase_per_person})
# Format
gender_counts.index.name = "Gender"
gender_counts.style.format({"Average Purchase Price":"${:,.2f}",
                            "Total Purchase Value":"${:,.2f}",
                            "Average Total Purchase Per Person":"${:,.2f}"})

In [7]:
# Age Demographics 
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Place Age Values into Established Bins 
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],bins, labels=bin_names)
purchase_data

# Date Frame Grouped By Age Group
age_group = purchase_data.groupby("Age Group")

# Count of Players By Age Category 
age_count = age_group["SN"].nunique()

# Percentages By Age Category 
age_percentage = ((age_count)/(total_players)) * 100

# Create Data Frame 
age_demo = pd.DataFrame({"Percentage of Players": age_percentage, "Total Count": age_count})

# Format 
age_demo.index.name = None
age_demo.style.format({"Percentage of Players":"{:,.2f}"})

In [8]:
# Purchase Analysis (Age)

# Purchases By Age Group
age_purchase_count = age_group["Purchase ID"].count()

# Average Purchase Price By Age Group
age_average_purchase = age_group["Price"].mean()

# Total Purchase Value By Age Group
total_purchase_value = age_group["Price"].sum()

# Average Purchase Per Person 
average_purchase_per_person = (total_purchase_value)/(age_count)

# Create Data Frame 
age_demo = pd.DataFrame({"Purchase Count": age_purchase_count,
                         "Average Purchase Price": age_average_purchase,
                         "Total Purchase Value":total_purchase_value,
                         "Average Purchase Total per Person": average_purchase_per_person})

# Format 
age_demo.index.name = None
age_demo.style.format({"Average Purchase Price":"${:,.2f}",
                       "Total Purchase Value":"${:,.2f}",
                       "Average Purchase Total per Person":"${:,.2f}"})

In [10]:
# Top Spenders 

# Purchase Data Grouped by Screen Name
screen_name = purchase_data.groupby("SN")

# Total Purchases by Name 
spender_name = screen_name["Purchase ID"].count()

# Average Purchase by Name 
spender_average = screen_name["Price"].mean()

# Purchase Total by Name 
spender_total = screen_name["Price"].sum()

# Create Data Frame 
top_spenders = pd.DataFrame({"Purchase Count": spender_name,
                             "Average Purchase Price": spender_average,
                             "Total Purchase Value": spender_total})

# Format
top_spenders_format = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()
top_spenders_format.style.format({"Average Purchase Total":"${:,.2f}",
                              "Average Purchase Price":"${:,.2f}", 
                              "Total Purchase Value":"${:,.2f}"})

In [12]:
# Most Popular Items 

# Items 
items = purchase_data[["Item ID", "Item Name", "Price"]]

# Group Items 
items_group = items.groupby(["Item ID","Item Name"])

# Times Item Purchased 
items_purchased = items_group["Price"].count()

# Purchase Value Per Item 
purchase_value = (items_group["Price"].sum()) 

# Item Price
items_price = (purchase_value)/(items_purchased)

# Create Data Frame 
items_most_popular = pd.DataFrame({"Purchase Count": items_purchased, 
                                   "Item Price": items_price,
                                   "Total Purchase Value": purchase_value})

# Format
items_most_popular_format = items_most_popular.sort_values(["Purchase Count"], ascending=False).head()
items_most_popular_format.style.format({"Item Price":"${:,.2f}",
                                           "Total Purchase Value":"${:,.2f}"})

In [14]:
# Most Profitable Items 

# Format to find Most Profitable Using Data Frame Previously Created 
items_most_popular_format = items_most_popular.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()
items_most_popular_format.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})